/***************************TAG Selectors****************/
h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 1px #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

.heading-main{
    text-decoration: none;
}

/***************************CLASS Selectors****************/

/***************************Capsule****************/

.mastercarousel{
 
    border-style: groove;
    border-width: 2px;
    border-color: lightgray;
    border-radius:2px;
    -webkit-border-radius:10px;
    padding-bottom: 25px;
}


/***************************Twitter and Koo****************/

.twitter-koo-box{
    padding:2px 5px;
    border-radius:1px;
    -webkit-border-radius:10px;
    cursor: pointer;   
    border-style: groove;
    border-width: 2px;
    margin-top: 3px;
    height: 250px;
}

.twitter-box{
    border-color: #d0e7f5;
}

.twitter-box:hover{
    background-color: #ebf1f5;
}

.koo-box{
    border-color: #f3edc8;
}

.koo-box:hover{
    background-color: #f7f7e7;
}

.twitter-koo-biosection{
    display: flex;
}

.twitter-koo-biopic{
    display: flex;
}

.twitter-koo-img-profile{
    width : 50px;
    height: 50px; 
    border-radius: 50%;
}

.twitter-koo-biotext{
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: block;
    padding-left: 10px;
}

.twitter-koo-logo{
    width : 40px;
    height: 40px; 
    border-radius: 50%;
    justify-content: end;
}



.twitter-logo-with-media{
    margin-left: 100px;
}


.twitter-koo-text{
    font-size: .875 rem;
    line-height: 25px;
    font-family: Roboto; 
}

.tweet-image{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    
}





/***************************Headline and Inline****************/
.headline-box{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa ; 
    padding: 5px;
    cursor: pointer;    
    width: auto;  
}

.headline-box:hover{
    background-color: #FAF9F6;
}

.site-logo-headline{
    width: 80%;
}

.site-logo{   
    width: 75px;
    height: 25px;  
}

.headline-text{
    font-family: 'Roboto:ital';
    font-weight: bold;
    font-size: 1.0rem;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.headline-image{ 
    width: 100px;
    justify-content: flex-end;
    border-radius:1px;
    -webkit-border-radius:10px;    
}

.news-inline-box{
    padding:2px 5px;
    border-radius:1px;
    -webkit-border-radius:10px;
    cursor: pointer;   
    border-style: groove;
    border-width: 2px;
    margin-top: 3px;
    height: 250px;

}

.news-inline-box:hover{
    background-color: #FAF9F6;
}


.news-box:hover{
    background-color: #FAF9F6;
}

.news-inline-image{
    height: 120px;
    display: flex;
    margin: auto;
    justify-content: center;
    border-radius:1px;
    -webkit-border-radius:10px;
}

.news-inline-sitelogo{
    width: 40px;
    padding: 5px;
}

.news-inline-text{
    font-size: .875 rem;
    line-height: 25px;
    font-family: Roboto; 
    display: inline;
}

.instaImage{
    height: 120px;
}

.youtube-box{
    
    border-radius:1px;
    -webkit-border-radius:10px;
    cursor: pointer;   
    border-style: groove;
    border-width: 2px;
    border-color:#f7bebe;
    margin-top: 3px;
    height: 250px;
    width: 250px;

}



/***************************Slider****************/

.arrowRight{
    width: 30px;
    position: relative; /* Declared position allows for location changes */
    top: -35px; /* Moves the image 2px closer to the top of the page */
    right: 5px;
    background: white;
    
}
.arrowRight:hover{
    transform: scale(1.2);
}

.arrowLeft{
    width: 30px;
    position: relative; /* Declared position allows for location changes */
    top: -35px; /* Moves the image 2px closer to the top of the page */
    right: 5px;
    background: white;
}
.arrowLeft:hover{
    transform: scale(1.2);
}

.slick-slide {
    margin: 0px 4px;
    
}

.margin-filler{
    height: 25px;
}


/***************************Mobile****************/

/* Hide slider left and right images on small devices */
@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
      display: hidden;
    }
  }


